body {
    background-color: #333333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(205, 205, 205);
}

p a {
    text-decoration: none;
    color: rgb(205, 205, 205);
    transition: 0.5s;
}

p a:hover {
    text-decoration: underline;
    font-size: 19px;
}

hr {
    border-width: 1px;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #d8d8d8;
    text-align: center;
}

header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #d8d8d8;
}

header a {
    text-decoration: none;
    color:#42b4d6;
    transition: 0.5s;
}

header a:hover {
    text-decoration: underline;
    font-size: 37px;
}

.tableContainer {
    overflow-x:auto;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: rgb(205, 205, 205);
}

table tr:nth-child(even){
    background-color: #424242;
}

table tr:nth-child(odd){
    background-color: #333333;
}

table td, table th{
    border: 1px solid rgb(109, 109, 109);
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 118, 139);
    color: white;
}

.profileImage {
    width: 100px;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
}

.navbar {
    top: 0px;
    overflow:visible;
    background-color: #414040;
    font-family: Arial;
    position: fixed;
    width: 100%;
    z-index:10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(205, 205, 205);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right:1px solid rgb(87, 86, 86);
    transition:background-color 0.5s;
    transition:color 0.5s;
    transition:transform 0.5s;
}

.dropdown {
    float: right;
    overflow: hidden;
    z-index: 11
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(205, 205, 205);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
    border-left: 1px solid rgb(87, 86, 86);
    z-index: 11;
    transition:background-color 0.5s;
    transition:color 0.5s;
    transition:transform 0.5s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:rgb(0, 118, 139);
    color:white;
    transform:scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #535353;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    border: none;
    outline: none;
    float: none;
    font-size: 16px;
    width: 100%;
    background-color: #535353;
    color: rgb(205, 205, 205);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
}

.dropdown-content button:hover {
    background-color: rgb(63, 62, 62);
    color: rgb(205, 205, 205);
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.projects {
    text-align: center;
    border: 1px solid rgb(148, 146, 146);
    background-color: #3f3e3e;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    
}

.image {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.75s;
    z-index:1;
}

.image:hover{
    transform:scale(1.05);
}

.imageText {
    font-size: 25px;
    color:rgb(205, 205, 205);
    position: absolute;
    bottom: 23px;
    left:20px;
    background-color:rgba(0,0,0,0.5);
    width:inherit;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 2px #000000;
}

footer {
    border-top: 2px solid rgb(205, 205, 205);
    background-color: rgb(0, 118, 139);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 28px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.videoList {
    margin-left: 20%;
    margin-right: 20%;
}

.videoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}